<div class="sentinel-portal-main">
  <h1>{{ 'Portal'|t }}</h1>
  
  {% if analytics_block %}
  <div class="portal-analytics">
    {{ analytics_block }}
  </div>
  {% endif %}
  
  {#<div class="portal-welcome">
    <p>
      {{ 'Welcome to the Sentinel Portal. Submit SystemCheck pack information, edit incomplete or \'pending\' packs and view reports for completed analyses.'|t }}
    </p>
  </div>#}
</div>
