<div class="sentinel-portal-main">
  {% if analytics_block %}
    <div class="portal-analytics">
      <h1 class="portal-title">{{ 'Portal'|t }}</h1>
      {{ analytics_block }}
    </div>
  {% else %}
    <h1>{{ 'Portal'|t }}</h1>
  {% endif %}
</div>
