{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{#
  Custom page template for the HTML certificate view.
  This displays the certificate within the full Drupal page structure
  with header, navigation, and footer, similar to Drupal 7.
#}

{% block content %}
  <article class="page-main constrain">
    <main id="main-content" class="page-content">
      <div align="center">
        {{ page.content }}
      </div>
    </main>
  </article>
{% endblock %}

